@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox için */
input[type="number"] {
  -moz-appearance: textfield;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
/*#19baff*/
body {
  background: url(/assets/bg.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.logo {
  width: 50px;
  margin-left: 40px;
  margin-top: 20px;
}
.menu-ul {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-around;
}
.menu {
  font-size: 18px;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}
nav {
  position: fixed;
  display: flex;
  text-decoration: none;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: black;
  transition: 0.2s;
}
.drawer {
  background-color: white;
  position: absolute;
  right: 0;
  padding: 15px;
  opacity: 0;
  z-index: -1;
  transition: 0.2s;
}
a:hover {
  text-decoration: none;
}
i {
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  transition: 0.3s;
}
i {
  color: rgb(130, 0, 0);
}
i:hover {
  color: red;
}
i:first-child {
  color: rgb(159, 159, 0);
}
i:first-child:hover {
  color: yellow;
}
.members {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 30px;
}

.titles1 {
  text-align: left;
  width: 400px;
}
th {
  width: 200px;

  color: #19baff;
  height: 80px;
  font-size: 18px;
}
td {
  text-align: center;
  color: white;
}
td:first-child {
  text-align: left;
}
tr {
  height: 40px;
}
.page {
  position: absolute;
  bottom: 20px;
  display: flex;
  align-items: center;
}
.buttons {
  font-size: 50px;
  color: white;
}
.buttons:first-child {
  color: white;
}
.sayac {
  font-size: 40px;
  color: white;
}
.input {
  width: 200px;
}
.newPerson {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: none;
}
.newPerson2 {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.personAdd {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  padding: 25px;
  border-radius: 10px;
}
.fa-x {
  text-align: right;
  font-size: 25px;
  color: red;
  margin-bottom: 10px;
}
.cross-div {
  width: 100%;
  text-align: right;
}
.input {
  font-size: 15px;
  border: none;
  outline: none;
  border: 2px solid rgb(72, 72, 72);
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
}
.submitbutton {
  background-color: green;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 10px;
  margin-top: 20px;
  cursor: pointer;
}

body {
  background-color: #3498db;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.container {
  margin: 60px auto;
  background: #fff;
  padding: 0;
  border-radius: 7px;
}

.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 40px;
}

.settings-tray {
  background: #eee;
  padding: 10px 15px;
  border-radius: 7px;
}
.friend-drawer {
  display: flex;
  justify-content: space-evenly;
}
.no-gutters {
  display: flex;
  align-items: flex-end;
}
.settings-tray .no-gutters {
  padding: 0;
}
.settings-tray--right {
  float: right;
}
.settings-tray--right i {
  margin-top: 10px;
  font-size: 25px;
  color: grey;
  margin-left: 14px;
  transition: 0.3s;
}
.settings-tray--right i:hover {
  color: #74b9ff;
  cursor: pointer;
}

.search-box {
  background: #fafafa;
  padding: 10px 13px;
}
.search-box .input-wrapper {
  background: #fff;
  border-radius: 40px;
}
.search-box .input-wrapper i {
  color: grey;
  margin-left: 7px;
  vertical-align: middle;
}

input {
  border: none;
  border-radius: 30px;
  width: 80%;
}
input::placeholder {
  color: #e3e3e3;
  font-weight: 300;
  margin-left: 20px;
}
input:focus {
  outline: none;
}

.friend-drawer {
  padding: 10px 15px;
  display: flex;
  vertical-align: baseline;
  background: #fff;
  transition: 0.3s ease;
}
.friend-drawer--grey {
  background: #eee;
}
.friend-drawer .text {
  margin-left: 12px;
  width: 70%;
}
.friend-drawer .text h6 {
  margin-top: 6px;
  margin-bottom: 0;
}
.friend-drawer .text p {
  margin: 0;
}
.friend-drawer .time {
  color: grey;
}
.friend-drawer--onhover:hover {
  background: #74b9ff;
  cursor: pointer;
}
.friend-drawer--onhover:hover p,
.friend-drawer--onhover:hover h6,
.friend-drawer--onhover:hover .time {
  color: #fff !important;
}

hr {
  margin: 5px auto;
  width: 60%;
}

.chat-bubble {
  padding: 10px 14px;
  background: #eee;
  margin: 10px 30px;
  border-radius: 9px;
  position: relative;
  animation: fadeIn 0.2s ease-in;
}
.chat-bubble:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-bottom: 0;
  margin-top: -10px;
}
.chat-bubble--left:after {
  left: 0;
  border-right-color: #eee;
  border-left: 0;
  margin-left: -20px;
}
.chat-bubble--right:after {
  right: 0;
  border-left-color: #74b9ff;
  border-right: 0;
  margin-right: -20px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.offset-md-9 .chat-bubble {
  background: #74b9ff;
  color: #fff;
}

.chat-box-tray {
  background: #eee;
  display: flex;
  align-items: baseline;
  padding: 10px 15px;
  align-items: center;
  margin-top: 19px;
  bottom: 0;
}
.chat-box-tray input {
  margin: 0 10px;
  padding: 6px 2px;
}
.chat-box-tray i {
  color: grey;
  font-size: 30px;
  vertical-align: middle;
}
.chat-box-tray i:last-of-type {
  margin-left: 25px;
}
